html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #231f20;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-family: "Georama", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

::-webkit-selection {
    color: #f4e8f6;
    background: #81368f;
}

::-moz-selection {
    color: #f4e8f6;
    background: #81368f;
}

::selection {
    color: #f4e8f6;
    background: #81368f;
}

*:focus {
    outline: 0;
}

.loader-div {
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1070;
    position: fixed;
    top: 0;
    left: 0;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #81368f;
    border-right: 16px solid #953fa6;
    border-bottom: 16px solid #d4a9df;
    border-left: 16px solid #f4e8f6;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dg1 {
    color: #fff;
    background-color: #907ad6;
}

.dg2 {
    color: #231f20;
    background-color: #dabfff;
}

.dg3 {
    color: #fff;
    background-color: #2c2a4a;
}

.dg4 {
    color: #fff;
    background-color: #4f518c;
}

.dg5 {
    color: #fff;
    background-color: #b23a48;
}

.dashboard-glance {
    position: relative;
    overflow: hidden;
}

.dashboard-glance p, .dashboard-glance h3 {
    position: relative;
    z-index: 3;
}

.dashboard-glance::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    top: -25px;
    right: -25px;
    z-index: 1;
    transition: all 0.35s ease;
}

.dashboard-glance::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    bottom: -25px;
    right: -25px;
    z-index: 1;
    transition: all 0.35s ease;
}

.dashboard-glance:hover::before {
    top: -18px;
}

.dashboard-glance:hover::after {
    right: -18px;
}

.massActionWrapper .dropdown {
    display: inline-flex;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: #fff !important;
    color: #231f20 !important;
}

input[type="text"], textarea {
    background-color : #fff; 
}

.form-control {
    box-shadow: none;
    border-color: #d4a9df;
}

.form-group .form-control {
    border-color: #d4a9df;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none !important;
}

.card-header {
    background-color: #fafafa;
}

.btn-primary {
    color: #fff;
    background-color: #81368f;
    border-color: #81368f;
    transition: all 0.3s ease;
}

.btn-primary.btn-p2 {
    color: #231f20;
    background-color: #d4a9df;
    border-color: #81368f;
    transition: all 0.3s ease;
    font-weight: 700;
}

.btn-primary.btn-sec {
    background: #fafafa;
    border-color: #81368f;
    color: #231f20 !important;
}

.btn-primary:hover {
    color: #231f20;
    background-color: #f4e8f6;
    border-color: #f4e8f6;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #953fa6;
    border-color: #953fa6;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #953fa6;
    border-color: #953fa6;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #298329;
    border-color: #298329;
}

.btn-success:hover {
    color: #231f20;
    background-color: #edf9ed;
    border-color: #edf9ed;
}

.btn-success:focus {
    color: #fff;
    background-color: #216721;
    border-color: #216721;
}

.search-form .btn {
    color: #231f20;
    background-color: #d4a9df;
    border-color: #813790;
}

.search-form .btn:hover {
    color: #231f20;
    background-color: #f4e8f6;
    border-color: #f4e8f6;
}


.navbar-light .navbar-nav .nav-link {
    color: #231f20;
}



.table-responsive {
    max-height: 70vh;
    overflow: auto;
}

.table {
    color: #231f20;
    margin-bottom: 0;
}

.table-bordered {
    border: 1px solid #d4a9df !important;
}

.table thead tr th {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top: 1px solid #d4a9df !important;
    border-bottom: 1px solid #d4a9df !important;
}

.table > thead tr th {
    border: 0;
    background: #f4e8f6;
    font-family: "Georama", sans-serif;
    color: #000000;
    height: 45px !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(244, 232, 246, 0.3);
}

.table h5 {
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0;
}

.btn-secondary {
    background-color: #fff;
    color: #231f20;
    border-color: #d4a9df;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary.hover, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #f4e8f6;
    border-color: #d4a9df;
    color: #333;
    box-shadow: none;
}