@media (min-width: 1370px) {
    .container-fluid {
        width: 80%;
    }
}

@media (min-width: 768px) {
    
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .productsDiv {
        margin-bottom: 25px;
    }
    
    .w-150 {
        width: 120px !important;
    }

    .py-6 {
        padding-bottom: 3rem!important;
        padding-top: 3rem!important;
    }

    .shop_cart_table .table .btn-danger {
        font-size: 12px;
        width: 85px;
    }

    .festive-name {
        margin-top: 25px;
    }

    .name-inner h1 {
        font-size: 16px;
    }

    .product-heading h2 {
        font-size: 16px;
    }

    .product-search .form-control {
        width: 180px;
        min-width: 100px;
    }

    .login-li, .cart-li {
        margin-top: 15px;
    }

    .wish-zoom {
        right: 20px;
        visibility: visible;
        opacity: 1;
    }

    .sticky-offset {
        top: 142px;
    }

    .top-notification-icons i {
        font-size: 25px;
    }

    .zoomContainer {
        display: none !important;
    }

    .left-linksDiv {
        display: none;
    }

    .footer-header {
        color: #f8f8f8;
        font-size: 16px;
    }

}