html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    position: relative;
}

.loader-div {
    width: 100%;
    height: 100vh;
    background-color: #f4e8f6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3070;
    position: fixed;
    top: 0;
    left: 0;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #81368f;
    border-right: 16px solid #953fa6;
    border-bottom: 16px solid #d4a9df;
    border-left: 16px solid #ededed;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    color: #813790;
}

.added-message {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 300px;
    background-color: rgba(11, 107, 4, 0.8);
    border-radius: 6px;
    padding: 15px;
    z-index: 2080;
    display: none;
}

.added-message.active {
    display: block;
}

.added-message p {
    color: #fff;
    margin: 0;
    padding: 0;
}

.added-message p span {
    font-weight: 700;
}

.textChange {
    font-weight: 400!important;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 5;
    background-color: #813790;
    border-color: #813790;
}

.back-to-top:is(:hover, :focus), .back-to-top:not(:disabled):not(.disabled):active {
    background-color: #963fa7;
    border-color: #963fa7;
    box-shadow: none;
}

.modal-backdrop {
    z-index: 2060;
}

.modal {
    z-index: 2070;
}

.py-6 {
    padding-top: 7rem!important;
}

.py-6 {
    padding-bottom: 6rem!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.header  {
    position: relative;
}

.festive-logo {
    position: relative;
    max-width: 100%;
}

canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #232741; background-image: url("../images/festival-bg.png"); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.festive-name {
    margin-top: -33px;
}

.name-inner {
    border-radius: 7px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d89626+0,f6e054+33,efdd83+49,f6e054+64,d89626+100 */
    background: rgb(216,150,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(216,150,38,1) 0%, rgba(246,224,84,1) 33%, rgba(239,221,131,1) 49%, rgba(246,224,84,1) 64%, rgba(216,150,38,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89626', endColorstr='#d89626',GradientType=0 ); /* IE6-9 */
}

.name-inner h1 {
    color: #141414;
    font-size: 2rem;
}

.intro-p {
    font-size: 20px;
}

.intro-h2 {
    color: #e76f51;
}

.stores-section {
    position: relative;
}

.stores-section::before {
    content: "";
    left: 15px;
    bottom: 0;
    height: 206px;
    width: 233px;
    background-image: url(../images/fireworks.png);
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.brands-img {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    max-height: 97px;
}

.brands-img:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.product-heading {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d89626+0,f6e054+33,efdd83+49,f6e054+64,d89626+100 */
    background: rgb(216,150,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(216,150,38,1) 0%, rgba(246,224,84,1) 33%, rgba(239,221,131,1) 49%, rgba(246,224,84,1) 64%, rgba(216,150,38,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89626', endColorstr='#d89626',GradientType=0 ); /* IE6-9 */
}

.product-heading h2 {
    color: #141414;
    font-weight: 600;
}

/* product-menu */

.product-menu {
    z-index: 2030;
}

.product-menu .navbar {
    padding-left: 0;
}

.product-menu, .product-menu .navbar-light.bg-light {
    background-color: #ffe8d6 !important;
}

.product-menu, .product-menu .navbar-light.bg-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 700;
}

.product-menu .navbar-light.bg-light .navbar-nav .nav-link {
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
}

.product-menu .dropdown-menu {
    top: 94%;
    max-height: 350px;
    overflow: auto;
}

.product-search .form-control {
    max-width: 80%;
    min-width: 300px;
}

.top-search .btn-success {
    color: #fff;
    background-color: #813790;
    border-color: #813790;
}
.top-search .btn-success:hover {
    background-color: #963fa7;
    border-color: #963fa7;
}

.top-notification-icons {
    position: relative;
}

.top-notification-icons i {
    color: #333;
    font-size: 30px;
}

.login-li, .cart-li {
    margin-top: 7px;
}

#cart_items_short {
    max-height: 360px;
    overflow: auto;
}

.cart-dropdown-wrap {
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    z-index: 2030!important;
    width: 320px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 30px 20px 27px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
    border: 1px solid #ececec;
}

.cart-li:hover .cart-dropdown-wrap {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 10px);
    z-index: 2030!important;
}

.cart-dropdown-wrap ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 20px;
}

.cart-dropdown-wrap ul li .shopping-cart-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    margin-right: 18px;
}

.cart-dropdown-wrap ul li .shopping-cart-img a {
    display: block;
}

.cart-dropdown-wrap ul li .shopping-cart-img a img {
    max-width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.cart-dropdown-wrap ul li .shopping-cart-title {
    margin: 6px 0 0;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 9px;
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4 a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

.cart-dropdown-wrap ul li .shopping-cart-delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 6px 0 0;
    padding-right: 5px;
}
.cart-dropdown-wrap ul li .shopping-cart-delete a {
    font-size: 18px;
    color: #696969;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total {
    border-top: 2px solid #f3f3f3;
    margin: 25px 0;
    padding: 17px 0 0;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total h4 {
    color: #9b9b9b;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    text-align: left;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total h4 span {
    font-size: 18px;
    float: right;
    color: #813790;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.btn-success {
    color: #fff;
    background-color: #813790;
    border-color: #813790;
}

.btn-success, .btn-outline-success {
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 20px;
    font-family: "Quicksand", sans-serif;
    border: 2px solid #813790;
}

.btn-outline-success.btn-sm {
    padding: .25rem .5rem;
}

.btn-outline-success {
    color: #813790;
}

.shopping-cart-button .btn-success {
    background-color: #813790;
    color: #fff;
}

.btn-success:is(:hover, :focus), .btn-success:not(:disabled):not(.disabled):active {
    background-color: #4b1157;
    color: #fff;
    border-color: #4b1157 !important;
}

.btn-outline-success:is(:hover, :focus), .btn-outline-success:not(:disabled):not(.disabled):active {
    border: 2px solid #813790;
    background-color: #813790;
    color: #fff;
    box-shadow: none;
}

.nav-item .top-notification-icons i {
    color: #5e5e5e;
}

.top-notification-icons .notification-numbers {
    position: absolute;
    right: -6px;
    top: -12px;
    color: #fff;
    background-color: #813790;
    font-size: 12px;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    z-index: 5;
    border-radius: 50%;
}

/* products-section */

.products-section {
    background-color: #fff;
}

.product-section-heading {
    color: #333;
    border-left: 4px solid #e76f51;
    padding-left: 20px;
}

.product-section-heading.storeNameDiv {
    border-left: 2px solid #e76f51;
    padding-left: 10px;
}

.product-section-heading a {
    color: inherit;
    font-size: 50%;
    text-decoration: none;
    padding-top: 8px;
}

.productsDiv {
    position: relative;
    margin-bottom: 15px;
    background-color: #fff;
    transition: all 0.3s ease;
    border: 1px solid rgba(0,0,0,0.04);
}

.productsDiv:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.productsDiv.outOfStock::before {
    position: absolute;
    right: -15px;
    top: -20px;
    height: 70px;
    width: 86px;
    content: "";
    background: url(../images/out-of-stock.png);
    background-size: cover;
    z-index: 1;
}

.ribbon {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid rgb(165, 108, 9);
    z-index: 0;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 200px;
    padding: 4px 0;
    color: #111;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d89626+0,f6e054+33,efdd83+49,f6e054+64,d89626+100 */
    background: rgb(216,150,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(216,150,38,1) 0%, rgba(246,224,84,1) 33%, rgba(239,221,131,1) 49%, rgba(246,224,84,1) 64%, rgba(216,150,38,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(216,150,38,1) 0%,rgba(246,224,84,1) 33%,rgba(239,221,131,1) 49%,rgba(246,224,84,1) 64%,rgba(216,150,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89626', endColorstr='#d89626',GradientType=0 ); /* IE6-9 */
}

.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 22px;
}
.ribbon-top-left::after {
    bottom: 22px;
    left: 0;
}
.ribbon-top-left span {
    right: -15px;
    top: 28px;
    transform: rotate(-45deg);
}

a .product-name {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.save-pill {
    font-size: 65%;
    padding: 5px;
}

a:hover {
    text-decoration:none;
}

a:hover .product-name {
    color: #e76f51;
}

.rating i {
    font-size: 12px;
}

.rating .fa-star.full {
    color: #ff841d;
}

.rating .fa-star.blank {
    color: rgb(204, 204, 204);
}

.addcart-btn, .btn-warning.p-d-switch {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s ease;
    border-color: rgb(129,55,144);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#813790+0,622d75+100 */
    background: rgb(129,55,144); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(129,55,144,1) 0%, rgba(98,45,117,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(129,55,144,1) 0%,rgba(98,45,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(129,55,144,1) 0%,rgba(98,45,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#813790', endColorstr='#622d75',GradientType=1 ); /* IE6-9 */
}

.addcart-btn:is(:hover, :focus), .btn-warning.p-d-switch:is(:hover, :focus) {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#963fa7+0,813790+100 */
background: rgb(150,63,167); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(150,63,167,1) 0%, rgba(129,55,144,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#963fa7', endColorstr='#813790',GradientType=1 ); /* IE6-9 */
    box-shadow: none;
    color: #fff !important;
    border-color: rgb(129,55,144);
}

.save-sm {
    font-weight: 700;
}

.wish-zoom {
    position: absolute;
    top: 60px;
    right: -15px;
    z-index: 99;
    width: 40px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.wish-zoom a i {
    color: #444;
    background-color: rgba(255, 132, 29, 0.8);
    font-size: 14px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.add-wishlist-switch.active i {
    color: #963fa7;
}

.wish-zoom a:hover {
    text-decoration: none;
}

.wish-zoom a:hover i {
    background-color: rgba(255, 132, 29, 1);
}

.productsDiv:hover .wish-zoom {
    right: 20px;
    visibility: visible;
    opacity: 1;
}
/* faq-section */

.faq-section {
    background: #f8edeb;
}

.card-header h2 .btn:focus {
    box-shadow: none;
}

.faq-section .nav-link {
    color: #e76f51;
}

.faq-section .nav-pills .nav-link.active {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#963fa7+0,813790+100 */
    background: rgb(150,63,167); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(150,63,167,1) 0%, rgba(129,55,144,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#963fa7', endColorstr='#813790',GradientType=1 ); /* IE6-9 */
    box-shadow: none;
    color: #fff !important;
    border-color: rgb(129,55,144);
}


.faq-btn {
    font-weight: 600;
    color: #e76f51;
    padding-left: 0;
}

.faq-btn.collapsed {
    font-weight: 700;
    color: #212529;
}
/* footer */

footer {
    background-color: #343a40!important;
}

footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-about {
    color:#bbb;
}

.social_icons li {
    position: relative;
    margin-right: 8px;
    display: inline-block;
}

.social_icons li a i {
    padding: 8px;
    width: 34px;
    height: 34px;
    border: none;
    background-clip: inherit;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: none !important;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    line-height: 16px;
    border-radius: 2px;
    line-height: 20px;
}

.fa-facebook-f {
    color: #ffffff;
    background-color: #3b5998;
}

.fa-instagram {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a63bac+0,cc3776+50,fab855+100 */
    background: rgb(166, 59, 172); /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        rgba(166, 59, 172, 1) 0%,
        rgba(204, 55, 118, 1) 50%,
        rgba(250, 184, 85, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        -45deg,
        rgba(166, 59, 172, 1) 0%,
        rgba(204, 55, 118, 1) 50%,
        rgba(250, 184, 85, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        rgba(166, 59, 172, 1) 0%,
        rgba(204, 55, 118, 1) 50%,
        rgba(250, 184, 85, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63bac', endColorstr='#fab855',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.footer-header {
    color: #f8f8f8;
    font-size: 20px;
}

.footer-quick-links {
    list-style: none;
    color: #bbb;
}

.footer-quick-links a {
    color: #bbb;
    text-decoration: none;
}

.footer-quick-links i {
    min-width: 40px;
}

.bottom-footer {
    background: rgba(0,0,0,0.75);
}

.bottom-footer p, .bottom-footer p a {
    color: #ddd;
    font-size: 14px;
}

/* store page */

.sticky-offset {
    top: 88px;
}

.breadcrumb {
    background: none;
    margin-bottom: 0px;
    padding-left: 7px;
}

.breadcrumb-item a {
    color: #813790;
}

.breadcrumb-item.active {
    color: rgb(108, 117, 125);
}

/* left-linksDiv */

.categories-list {
    margin: 0;
    padding:0;
    margin-bottom: 35px;
}

.categories-list li {
    list-style-type: none;
    display: block;
    margin-bottom: 5px;
}

.categories-list li a {
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: block;
}

.categories-list li a i {
    margin-left: 10px;
}

.categories-list li a span {
    float: right;
}

.categories-list li a:hover {
    text-decoration: none;
    color: #ff841d;
}

.festive-logo.store-banner-logo {
    max-width: 200px;
}

.list_brand {
    padding-left: 20px;
    margin-bottom: 20px;
}

/* zoomContainer */

.zoomContainer {
    z-index: 999 !important;
}

#productDetailsModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-body .container-fluid {
    width: 100%;
}

#zoom_01 {
    border: 1px solid rgba(0,0,0,.15);
    margin-bottom: 25px;
}

#gallery_01 a img {
    width: 18.5%;
    margin-right: 0.4%;
}

#gallery_01 img {
    border: 2px solid white;
}

#gallery_01 .active img {
    border: 2px solid rgb(33, 141, 0) !important;
}

#gallery_01 a:hover {
    text-decoration: none;
}

.product-details {
    font-size: 30px;
}

.product-details-price {
    font-size: 20px;
}

.options span {
    font-size: 18px;
}

.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    width: 50px;
}
  
.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
}
  
.plus-minus-input .input-group-button .circle {
    border-radius: 50%;
}

.addPriceCart-wishlist .fas {
    color: #ffac68;
    font-size: 30px;
}

/* login page */

.login-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.login-wrapper a {
    color: #ff841d;
}

.login_footer {
    margin-bottom: 20px;
    margin-top: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.chek-form {
    margin-left: 20px;
}

.different_login {
    text-align: center;
    position: relative;
    margin: 20px 0;
}

.different_login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid #ddd;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.different_login span {
    background-color: #fff;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
}

.form-note {
    margin-top: 20px;
}

/* cart page */

.cart-product-img {
    max-height: 100px;
    padding:5px
}

.shop_cart_table .table .hollow {
    padding:0;
}

.shop_cart_table .table .hollow i  {
    font-size: 8px;
    height: 15px;
    width: 25px;
}

.shop_cart_table .table .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
    width: 40px;
}


/* checkout */
.checkout-product-img {
    max-height: 70px;
    padding: 5px;
}

.checkout-tbl {
    font-size: 14px;
}

.different_address_swt {
    position: relative;
    cursor: pointer;
}

.different_address_swt::before {
    content: "";
    border: 2px solid #ced4da;
    height: 17px;
    width: 17px;
    display: inline-block;
    vertical-align: middle;
}

.different_address_swt.active::before {
    background-color: #3b5998;
    border-color: #3b5998;
}

.different_address_swt.active::after {
    content: "";
    width: 11px;
    position: absolute;
    top: 50%;
    left: 3px;
    opacity: 1;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -moz-transform: translateY(-65%) rotate(-45deg);
    -webkit-transform: translateY(-65%) rotate(-45deg);
    transform: translateY(-65%) rotate(-45deg);
}

.different_address_div {
    display: none;
}

.voucher_swt a {
    color: inherit;
    font-weight: bold;
}

.payment_option .custome-radio .form-check-label {
    color: #f79221;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
}


.custome-radio .form-check-label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    bottom: 0;
    border: 1px solid #e0e0e0;
    font-weight: normal;
    font-size: 14px;
}

.custome-radio input[type="radio"] + .form-check-label::after {
    content: "";
    background-color: #f79221;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
    right: 0;
}

.custome-radio input[type="radio"]:checked + .form-check-label::after {
    opacity: 1;
}
.custome-radio input[type="radio"]:checked + .form-check-label {
    color: #fff;
}
.payment_option .custome-radio .form-check-label span {
    position: relative;
    z-index: 50;
}

.custome-radio .form-check-input {
    display: none;
}

.stores-slide {
    padding-right: 15px;
    padding-left: 15px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #d99322;
}

.storeNameDiv.product-section-heading a {
    font-size: 70%;
}

/* filter price */

.filter_price .ui-widget.ui-widget-content {
    border: 0;
    border-radius: 0;
    background-color: #ddd;
    height: 4px;
    margin-bottom: 20px;
}

.filter_price .ui-slider .ui-slider-range {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#963fa7+0,813790+100 */
    background: rgb(150,63,167); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(150,63,167,1) 0%, rgba(129,55,144,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(150,63,167,1) 0%,rgba(129,55,144,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#963fa7', endColorstr='#813790',GradientType=1 ); /* IE6-9 */
    border-radius: 0;
}

.filter_price .ui-slider .ui-slider-handle {
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    border: 0;
    height: 18px;
    top: -8px;
    width: 18px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.blink{
    padding: 15px;	
    text-align: center;
}
.blink span{
    font-size: 25px;
    color: #813790;
    animation: blink 2s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.page-link {
    color: #231f20;
    border: 1px solid #d4a9df;
}

.page-item.active .page-link {
    z-index: 3;
    color: #231f20;
    background-color: #d4a9df;
    border-color: #d4a9df;
}

.page-link:is(:hover, :focus) {
    z-index: 2;
    color: #231f20;
    text-decoration: none;
    background-color: #f4e8f6;
    border-color: #d4a9df;
}
  